<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Current exams ({{exams.length}})</h4>
  <div class="card-block">
    <div>Exam Name</div>
    <div *ngIf="exams.length === 0">
        <div>
          No exams in DB.
        </div>  
      </div>
      <div *ngIf="!isEditing">
        <div *ngFor="let exam of exams">
          <div>
            {{exam.name}}
            <button class="btn btn-sm btn-warning" (click)="enableEditing(exam)"><i class="fa fa-pencil"></i></button> 
            <button class="btn btn-sm btn-danger" (click)="deleteExam(exam)"><i class="fa fa-trash"></i></button>
          </div>
          <div>
            
        </div>  
      </div>
      <!--
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editExam(exam)" style="display:inline">
              <div class="form-group">
                <input class="form-control" type="text" name="name" [(ngModel)]="exam.name" placeholder="Name" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="topic" [(ngModel)]="exam.topic" placeholder="Topic" required>
              </div>
              <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
            </form>
            <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>-->
  </div>
  </div>

<div class="card">
  <h4 class="card-header">Add new Exam</h4>
  <div class="card-block">
    <form class="form-inline" [formGroup]="addExamForm" (ngSubmit)="addExam()" style="text-align:center">
      <div class="form-group">
        <input class="form-control" type="text" name="name" formControlName="name" placeholder="Name">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="topic" formControlName="topic" placeholder="Topic">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!addExamForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>